<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Name that package!</title>

        <!-- Stylesheets -->
        <link href="/dist/styles/main.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        {{{body}}}
    </body>
</html>
