@import "nib"

html {
    height 100%
    padding 0
    margin 0
}

body {
    display flex
    flex-direction column
    height inherit
    padding 0
    margin 0
}

h2 {
    margin 0
    padding 0
    font bold 7.5vw/1.5 "ars-maquette-web", Helvetica, Arial, Sans-serif
    font-kerning normal
    text-transform uppercase
    flex 1 0 auto
    display -webkit-box
    display -moz-box
    display box
    box-orient horizontal
    box-pack center
    box-align center
}

a {
    color #000
    text-decoration none
}

a:hover {
    background #000
    color #fff
    padding 10px 13px
}
